<p>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Serial number</th>
        <th>User</th>
        <th>Taken</th>
        <th>QR Device</th>
      </tr>
    </thead>
     <tbody>
      <%= render @devices %>
    </tbody>
  </table>
</p>
<br>


<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="js-new-device">New Device</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="js-new-userQr">User QR</button>

<%= render 'new_device_modal' %>


