// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

tbody{
    width: 1000px;
     .list_actions {
    	 font-size:    x-small;
    	 text-align:   right;
    	 padding-left: 1em;
		}

	tr {
		-webkit-transition: background .7s;
		transition: background .7s;
	}
	.hightlight {
		background: yellowgreen;
	}
}