<!DOCTYPE html>
<html>
<head>
  <title>Depot1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="load()">

	<div class="container">
		
		<div class="container" id="webcamContainer">
			<div id="outdiv">
			</div>
		</div>
		
		<canvas id="qr-canvas" style="display:none;" width="640" height="480"></canvas>
		
		<%= yield %>
		<div id="qrCodeContainer">
		</div>
	</div>
</body>
</html>
