<!DOCTYPE html>
<html>
<head>
  <title>Depot1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="load()">

	<div class="container">
		
		<div class="container" id="webcamContainer">
			<div id="outdiv">
			</div>
		</div>
		<div id="qrCodeContainer"></div>
		
		<canvas id="qr-canvas" style="display:none;" width="500" height="375"></canvas>
		
		<%= yield %>

		<div class="modal fade" id="nameModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Modal title</h4>
		      </div>
		      <div class="modal-body">
			      <div class="form-group">
				    <label for="exampleInputEmail1">Name</label>
				    <input type="text" class="form-control js-name" id="nameINput" placeholder="Enter Name">
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary js-submit">Submit</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</div>


</body>
</html>
